RewriteEngine On
#Enable this one will make url go directly to folder (https://www.youtube.com/watch?v=UXPLuDXeUTA)->10:30
#RewriteCond %{REQUEST_FILENAME} !-d
#if the file not existed in the url path, then  use RewriteRule, else go directly to it.
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^views/(.+)$ index.php?p=$1

# cache images và flash 30 ngày
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
#Header set Cache-Control "max-age=2592000"
</FilesMatch>
# cache text, css, và javascript, html files 1 tuần
<FilesMatch ".(js|css|pdf|txt|htm|html)$">
#Header set Cache-Control "max-age=604800"
</FilesMatch>
# không cache scripts files
<FilesMatch "\.(php)$">
#Header unset Cache-Control
</FilesMatch>

php_value include_path "F:\webdocs/demospa"
# include_path at live host: .:/usr/share/php